/* 背景画像を設定 */
body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-image: url("images/emblem_001.jpg");
}

/* トップの見出し部分　h1のid */
#top{
    width: 600px;
    margin:auto;
    margin-top: 20px;
    padding: 20px;
    background-color:rgba(69, 69, 69, 0.922);
    color: #e02c04;
    border-color: gray;
    border-style: groove;
    border-width: 30px;
    text-align: center;
    align-items: center;
    font-family: "游ゴシック";
    text-shadow: 3px 3px 6px #a43502b1;
}

/* 右端画像　figureのid */
#morizo{
    width: 100px;
    margin-top: 20px;
    position: fixed;
    top: 20px; /* 基準の位置を画面の上に指定 */
    right: 40px; /* 基準の位置を画面の右に指定 */
}

h2{
    text-align: center;
    font-family: "游ゴシック";
}

/* ガチャのdiv */
#button{
    text-align: center;
}


/* ガチャdivの子要素h2　id=description */
#description{
    margin:auto;
    margin-top: 30px;
    width: 750px;
    font-family: "Helvetica";
    background-color: silver;
}

h6{
    margin-bottom: 0%;
}

#gacha{
    cursor: pointer;
}

#number{
    margin: auto;
    margin-top: 20px;
    width : 1000px;
    background-color: rgba(251, 80, 0, 0.483);
}


/* ガチャdivの下に配置するdiv　botの画像を貼るところ */
#content{
    width: 1000px;
    margin:auto;
    margin-top: 20px;
    padding: 20px;
    border-color: rgb(126, 0, 0);
    border-style: double;
    border-top-style: solid;
    border-bottom-style: groove;
    border-width: 10px;
    text-align: center;
    font-family: "Helvetica";
    background-color: rgba(251, 80, 0, 0.483);
}

/* トヨタイムズへのリンクdiv */
#link {
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    width: 300px;
    border:2px;
    border-style:groove;
    background-color: silver;
    text-align: center;
    vertical-align: center;
    font-family: "Helvetica";
}

/* トヨタイムズへのリンク説明文 */
h3 {
    text-align: center;
    margin-top: 0;
}

/* ガチャリトライ説明文 */
h4 {
    margin:auto;
    width: 400px;
    text-align: center;
    color:rgb(1, 34, 84);
    background-color: rgba(227, 183, 5, 0.347);
}
